.color-placeholder {
  color: #d8d8d8 !important;
}

.select select option {
  color: #000000 !important;
}
.data-loading {
  background-color: #1b293a;
}
.active-status{
  color: #38c172;
}
.inactive-status{
  color: red;
}

.has-max-width-select {
  width: 100% !important;
}

